rename the file by .env
API_PUBLIC_KEY="VUTtsBNbnCVPkJtGy88W22xrLqLdsvY5"
API_PRIVATE_KEY="psKppjgGsSR4uTkBaUSZxx4BLCTaz72VVyCH9Fw8VJZ2RTcHDqqjrTMN3eZj7k2TBDJYuuZfyDHcHCr54ZkSsZGsBxwScw9dsArBfTtYg7tQ6nJSR8DfBzExYLzY7dH3"
